@charset "utf-8";
/* CSS Document */
.caja{
	border-radius:10px;background-color:#D6D6D6; size:15;font-family:Comic Sans MS;}
.BTN{
border-color:#00F;
background-color:#000;
color:#FFF;
font-family:"Comic Sans MS", cursive;
	border-radius:8px;
}
.BTN:hover{
border-color:#00F;
background-color:#CCC;
color:#000;
font-family:"Comic Sans MS", cursive;
border-radius:8px;
cursor:pointer;	

}
 .tabla{background-color:#38B8B8;
border-radius:15px;
padding-left:19px;
}
.tabla:hover{
	background-color:#000099;
	color:#FFFFFF;
}
.tabla a:hover{color:#FFFFFF;}

.Estilo3 {
	font-size: 22px;
	font-weight: bold;
}
